{% extends 'base.html.twig' %}

{% block title %}
    Détails de {{ product.name }}
{% endblock %}

{% block body %}
<main class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="h1 text-center mt-5">{{ product.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center mt-4">
            <img src="{{ asset('assets/uploads/' ~ product.image )}}" class="img-fluid" alt="{{ product.name }}">
        </div>
        <div class="col-md-6 mt-5">
            <p class="description-article"><strong>Description :</strong>
            {{ product.description }}</p>
            <p><strong>Catégorie :</strong> {{ product.categories.name }}</p>
            <p><strong>Prix :</strong> {{ product.price / 100 }} €</p>
            {# <p><strong>Mis en vente par :</strong> {{product.users.name}}</p> #}

            {% if product.stock > 0 %}
            <div class="text-center">
                <a href="{{ path('cart_add', {id: product.id}) }}" class="btn btn-success mt-5">Ajouter au panier</a>
                <p class="description-article mt-3">Il ne reste que {{ product.stock }} exemplaire(s) de cette {{ product.categories.name }}.</p>
            </div>
            {% else %}
                <p class="text-danger">Temporairement en rupture de stock</p>
            {% endif %}
        </div>
    </div>
    <h1 class="text-center h1 m-5">Avis de nos clients</h1>
</main>
{% endblock %}